table {
    border-collapse: collapse;
}
table, td, th {
    padding-left: 5px;
    border: 1px solid #949DC0;
}
th {
    box-sizing: border-box;
    width: 200px;
}
.unclicked {
    text-align: left;
    padding-right: 40px;
    background-color: #011B7C;
    color: white;
}
.alternate {
    background-color: #DDDDDD;
}

/*处理选中情况*/

.up {
    background: url(../images/ascend.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #A4AFFC;
    color: white;
    text-align: left;
    padding-right: 40px;
}
.down {
    background: url(../images/descend.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #A4AFFC;
    color: white;
    text-align: left;
    padding-right: 40px;
}
