/*主图标垂直位置*/

#homeimg {
    margin-top: 7%;
}

/*登录退出块位置及样式*/

#logout {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    height: 15%;
    font-size: 20px;
}
#logout>.greet {
    vertical-align: bottom;
}

/*退出按钮设置*/

#logout button {
    /*边界及大小*/
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    height: 25%;
    /*配色*/
    background-color: white;
    color: #1488C6;
    font-weight: bolder;
    font-style: italic;
    transition: background-color 0.5s, cursor 0.2s;
}
#logout button:hover {
    background-color: #DCEDF7;
    cursor: pointer;
    transition: backgroud-color 0.5s, cursor 0, 2s;
}

/*欢迎词， h1*/

h1 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
}

/*信息框架布局*/

h2 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5%;
}
#userInfo {
    margin-top: 1%;
}

/*细节布局*/

.attr {
    font-weight: bold;
    font-size: 20px;
}
.info {
    font-weight: bold;
    font-size: 18px;
}
#userInfo>div {
    box-sizing: border-box;
    width: 50%;
    margin: auto;
    padding-left: 17%;
    padding-bottom: 10px;
}
