ul {
	padding: 0;
	margin: 0;
}

/*begin the truly css*/
div[id="bottom-positioner"] {
	position: absolute;
	top: 60%;
	left: 50%;
}

/*basical things */
div[id="button"] div {
	position: inherit;
	visibility: hidden;
	box-sizing: border-box;
	width: 30px;
	height: 30px;

	transition: all 0.5s;
}

div[id="button"] {
	position: inherit;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	background-color: gray;
}

div[class="icon"] {
	background-image: url(./assets/images/atplus_white.png);
	background-repeat: no-repeat;
	visibility: visible !important;
  background-position: center;
	transition: all 0.5s;
}

/*when the button is hovered*/

/*basic thing behavior*/
div[id="button"]:hover div {
	visibility: visible;
	box-sizing: border-box;
	border-radius: 100px;
}

div[id="button"]:hover {
	visibility: hidden;
}

/*the apb behaviour*/
div[id="button"]:hover > div[class="apb"] {
	background-color: rgba(48, 63, 159, 1);
	width: 75px;
	height: 75px;
}

div[id="button"]:hover div[class="icon"] {
	background-image: url(./assets/images/atplus_green.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 75px;
	height: 75px;
}


/*the info-bar behavior*/

div[id="button"]:hover div[id="info-bar"] {
	position: inherit;
	transform: translate(-40px, -160px);
	background-color: gray;
	width: 150px;
	height: 150px;
}

li {
	list-style-type: none;
	width: 50px;
}

/*div[id="button"]:hover .info li, .info img{
	width: 35px;
	height: 35px;
}*/

div[id="button"]:hover span {
	padding-left: 10px;
	vertical-align: 5px;
}

div[id="button"]:hover .user {
	position: absolute;
	left: 50px;
	top: 10px;
}

div[id="button"]:hover .user span {
	font-weight: bold;
	color: white;
	font-size: 20px;
}

div[id="button"]:hover .comment {
	position: absolute;
	left: 40px;
	top: 40px;
}

div[id="button"]:hover .comment span {
	font-weight: bolder;
	color: white;
	font-size: 30px;
}

div[id="button"]:hover .posted {
	position: absolute;
	left: 30px;
	top: 100px;
}

div[id="button"]:hover .like {
	position: absolute;
	left: 70px;
	top: 100px;
}


/*the left down circles*/
.button {
	position: absolute;
	top:60%;
	left: 50%;
	opacity: 0;
	transition: all 0.5s;
}

div[id="button"]:hover .button {
	background-color: gray;
	background-position: center;
	background-repeat: no-repeat;
	width:40px;
	height: 40px;
	border-radius: 100px;
	opacity: 1;
}

#button:hover .mask {
	transform: translate(-75px, -40px);
	background-image: url(./assets/images/mask.png);
}

#button:hover .history {
	transform: translate(-80px, 10px);
	background-image: url(./assets/images/history.png);
}

#button:hover .message {
	transform: translate(-70px, 60px);
	background-image: url(./assets/images/message.png);
}

#button:hover .message .unread {
	padding-left: 0;
	padding-right: 0;
	position: relative;
	left: 20px;
	background-color: red;
	box-sizing: border-box;

	width: 20px;
	height: 20px;
	border-radius: 100px;

	color: white;
	font-weight: bolder;
	display: block;
	text-align: center;
}

#button:hover .setting {
	transform: translate(-23px, 83px);
	background-image: url(./assets/images/setting.png);
}

#button:hover .sign {
	transform: translate(25px, 80px);
	background-image: url(./assets/images/signin.png);
}
