
ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	width: 50px;
	position: fixed;
	top:70%;
	left: 50%;
	opacity: 0;

	transition: opacity 0.7s;
	transition-delay: 0.1s;
}


/*begin the truly css*/
div[id="bottom-positioner"] {
	position: fixed;
	top: 70%;
	left: 50%;
}


/*the left down circles*/
.button {
	position: absolute;
	top:60%;
	left: 50%;
	opacity: 0;
	transition: all 0.7s;
	transition-delay: 0.1s;
}

/*when the button not hovered */
#button div {
	position: inherit;
	visibility: hidden;
	box-sizing: border-box;
	width: 30px;
	height: 30px;

	transition: all 0.7s;
}

.info img {
	width: 25px;
}

#button {
	position: inherit;
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	background-color: #989CD3;
}

div[class="icon"] {
	visibility: visible !important;
	background-image: url(./assets/images/atplus_white.png);
	background-repeat: no-repeat;
  background-position: center;
	transition: all 0.7s;
}
/*----------------------------------------------*/

/*when the button is hovered*/
/*basic thing behavior*/
#button:hover div {
	visibility: visible;
	box-sizing: border-box;
	border-radius: 100px;
}

#button:hover {
	visibility: hidden;
}

/*the apb behaviour*/
#button:hover > div[class="apb"] {
	background-color: rgba(48, 63, 159, 1);
	width: 75px;
	height: 75px;

	/*position: fixed;
	top:68%;
	left: 48%;*/
	/*transform: scale(2);*/
}

#button:hover div[class="icon"] {
	background-image: url(./assets/images/atplus_green.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 75px;
	height: 75px;

	/*position: fixed;
	top: 68%;
	left: 48%;*/
	/*transform: scale(2);*/
}


/*the info-bar behavior*/
#button:hover div[id="info-bar"] {
	position: inherit;
	transform: translate(-40px, -160px);
	background-color: #7E7E7E;
	width: 140px;
	height: 140px;
	opacity: 1;
}

/*fixed the bug*/
/*---------------------------------------*/

#button:hover li {
	opacity: 1;
}
/*-------------------------------------*/



#button:hover span {
	padding-left: 10px;
	vertical-align: 5px;
}


#button:hover .user {
	position: absolute;
	left: 50px;
	top: 10px;
}

#button:hover .user span {
	font-weight: bold;
	color: white;
	font-size: 20px;
}

#button:hover .comment {
	position: absolute;
	left: 40px;
	top: 40px;
}

#button:hover .comment span {
	font-weight: bolder;
	color: white;
	font-size: 30px;
}

#button:hover .posted {
	position: absolute;
	left: 25px;
	top: 85px;
}

#button:hover .like {
	position: absolute;
	left: 80px;
	top: 85px;
}

#button:hover .mine {
	font-weight: bolder;
	font-size: 20px;
	color: #22DA8F;
}




#button:hover .button {
	background-color: #686868;
	background-position: center;
	background-repeat: no-repeat;
	width:40px;
	height: 40px;
	border-radius: 100px;
	opacity: 1;
}

#button:hover .mask {
	transform: translate(-75px, -40px);
	background-image: url(./assets/images/mask.png);
}

#button:hover .history {
	transform: translate(-80px, 10px);
	background-image: url(./assets/images/history.png);
}

#button:hover .message {
	transform: translate(-70px, 60px);
	background-image: url(./assets/images/message.png);
}

#button:hover .message .unread {
	padding-left: 0;
	position: relative;
	left: 20px;
	background-color: red;

	box-sizing: border-box;
	width: 20px;
	height: 20px;
	border-radius: 100px;

	color: white;
	font-weight: bolder;
	display: block;
	text-align: center;
}

#button:hover .setting {
	transform: translate(-23px, 83px);
	background-image: url(./assets/images/setting.png);
}

#button:hover .sign {
	transform: translate(25px, 80px);
	background-image: url(./assets/images/signin.png);
}

#button:hover div[id="info-bar"], div[id="control-ring-container"] {
	transition-delay: 0.1s;
}
