div[id="bottom-positioner"] {
	position: absolute;
	top: 70%;
	left: 50%;
}

div[id="info-bar"] {
	position:inherit;
	/*visibility: hidden;*/
	visibility: visible;
	background-color: gray;

	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	/*opacity: 0;*/

	transition: width 0.5s, height 0.5s, opacity 0.5s, visibility 0.01s;
}

div[class="info"] li {
	position: inherit;
}
