h1, .instruction, #result {
    text-align: center;
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
}
h1 {
    font-weight: lighter;
}

/*整体大布局*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*指导*/

.instruction, #result {
    font-size: 25px;
}

/*迷宫主体的设置*/

#maze-positioner {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 500px;
    background-color: #FDF6E3;
}
#maze-body {
    position: absolute;
}

/*设置wall的整体属性*/

.wall {
    position: absolute;
    background-color: #EEEEEE;
    border: 1px black solid;
}

/*分布设置各个wall*/

.w1 {
    width: 150px;
    height: 200px;
    left: -2px;
    top: -1px;
}
.w2 {
    width: 200px;
    height: 50px;
    left: 149px;
    top: -1px;
    border-left: none;
    border-right: none;
}
.w3 {
    width: 150px;
    height: 200px;
    left: 348px;
    top: -1px;
}
.w4 {
    width: 100px;
    height: 150px;
    left: 199px;
    top: 100px;
    border-bottom: none;
}
.w5 {
    width: 500px;
    height: 50px;
    top: 250px;
    left: -2px;
}

/*node 总体布局*/

.node {
    position: absolute;
    height: 40px;
    width: 40px;
    font-weight: bold;
    text-align: center;
    font-size: 33px;
    top: 204px;
    border: 1px solid black;
}

/*node 分布局*/

.start {
    background-color: #80FF80;
    left: -1px;
}
.end {
    background-color: #8784FD;
    left: 457px;
}

/*下面辅助信息的设置*/

.example {
    display: block;
    width: 100px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #EEEEEE;
}
#info:first-child, #info:last-child {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    box-sizing: border-box;
    width: 610px;
    font-size: 17px;
    font-family: "Century Gothic", Futura, Verdana, sans-serif;
}
