/*大布局*/

html body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px black solid;
}
#at-plus-container {
    position: relative;
    height: 100%;
    width: 155px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
}
#bottom-positioner {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#button {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
#button:hover #info-bar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    left: -75%;
    bottom: 145px;
    background-color: #7E7E7E;
    opacity: 1;
    transition: all 0.5s;
}
#info-bar {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
    opacity: 0;
}
#button:hover .info li {
    position: relative;
    list-style: none;
    font-size: 20px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
}
.info li {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    bottom: 3px;
}
.info span {
    padding-left: 10%;
    font-weight: bold;
    color: white;
    vertical-align: top;
}
.user {
    position: relative;
    left: 5px;
    bottom: -10px;
}
.comment {
    position: relative;
    left: 5px;
    bottom: 10px;
}
.comment span {
    font-size: 30px;
    font-weight: bolder;
    vertical-align: 5px;
}
.mine {
    position: relative;
}
.mine span {
    color: #20DA91;
}
.posted {
    left: -20px;
    bottom: 7px;
}
.like {
    left: 30px;
    bottom: 46px;
}
#control-ring-container {
    position: absolute;
    display: block;
    left: -3px;
    bottom: 0px;
    width: 100%;
    height: 155px;
    border-radius: 100px;
    border: 1px black solid;
}
.button {
    position: relative;
    list-style: none;
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #686868;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;
}
#button:hover #button .mask {
    position: relative;
    left: -31px;
    bottom: -12px;
    background-image: url(../assets/images/nomask.png);
    transition: all 0.5s;
}
.mask {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
}
#button:hover #button .history {
    left: -40px;
    bottom: -15px;
    background-image: url(../assets/images/history.png);
}
.history {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
}
#button:hover #button .message {
    left: -21px;
    bottom: -18px;
    background-image: url(../assets/images/message.png);
}
.message {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
}
#button .message .unread {
    position: relative;
    left: 20px;
    bottom: 5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    font-weight: bolder;
    color: white;
    text-align: center;
}
#button:hover #button .setting {
    left: 18px;
    bottom: 0px;
    background-image: url(../assets/images/setting.png);
}
.setting {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
}
#button:hover #button .sign {
    left: 57px;
    bottom: 49px;
    background-image: url(../assets/images/signin.png);
}
.sign {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 66px;
    bottom: 60px;
}
.apb {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 65px;
    bottom: 65px;
    border-radius: 50%;
    background-color: #989CD3;
    background-image: url(../assets/images/atplus_white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 13px;
    transition: all 0.5s;
}
#button:hover .apb {
    transform: scale(2.5);
    background-image: url(../assets/images/atplus_green.png);
    background-color: rgba(48, 63, 159, 1);
    transition: all 0.5s;
}

}
