.inputbox {
    border: 1px solid grey;
    height: 30px;
    font-size: 25px;
    background-color: #FDF6E3;
    border-radius: 10px;
    font-family: Tahoma, sans-serif;
}
.inputbox:focus {
    background-color: #DED5D5;
}
.buttons {
    box-sizing: border-box;
    width: 110px;
    height: 30px;
    float: right;
}
.buttons>input {
    background-color: #0C789F;
    color: white;
    height: 30px;
}
.invalid {
    color: red;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
}
.conflictInfo {
    color: red;
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    text-align: center;
}
